@import '../../setting.scss';
.dropdown-menu.show {
    animation: scale-display 1s;

}
@keyframes scale-display {
	0% {
		opacity: 0;
        display: none;
	}

	100% {
        display: block;
		opacity: 1;
	}
}
