@import '../../setting.scss';
.board-colum {
    overflow-x: auto;
    padding: 1rem;
    overflow-y: hidden;
    display: flex;
    .add-new{
        width: 15rem ;
        background-color: hsla(0, 0, 100%, .24);
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:horizontal {
        height: 1em;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, .24);
        border-right: 5px #ebecf0 solid;
    }
    .cards-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px 45px 5px 5px;
    }
}