    @import '../../setting.scss';
    $colum-height: calc(#{$height} - 10px * 2);

    .colum {
        flex: 0 0 auto;
        width: 320px;
        margin: 0 0.2rem;

        >* {
            background-color: #ebecf0;

            color: #333;
        }

        .column-drag-handle {
            padding: 5px 10px;
            display: flex;
            font-size: 1.5rem;
            line-height: 2;
            font-weight: bold;
            padding-left: 1rem;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;


            .column-title {
                flex: 90%;

            }

            .column-dropdown-actions {
                flex: 10%;

                .dropdown {

                    .dropdown-menu {
                        padding: 0;
                        min-width: 100px;

                        button.dropdown-item {
                            padding: 0.2rem 1rem;
                            font-size: 14px;

                            &:not(:last-child) {
                                border-bottom: 1px solid #ebecf0;
                            }
                        }
                    }

                    button.dropdown-btn {
                        padding: 0 10px;
                        font-size: 16px;
                        font-weight: bold;
                        background-color: #ebecf0;
                        border-color: #ebecf0;
                        color: #333;
                        height: 37px;
                        letter-spacing: 1px;
                        margin-top: -10px;

                        &:after {
                            content: "...";
                            border: none;
                            vertical-align: 1.255rem;

                        }

                        &:hover {
                            background-color: darken($color: #ebecf0, $amount: 10);
                        }
                    }
                }



            }

        }



        footer {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding-left: 10px;
            line-height: 20px;

            .add {
                color: #888;
                cursor: pointer;

                &:hover {
                    color: #333;
                }
            }
        }

        .add-new-card {
            .input-enter-new-card {
                min-height: 2em;
                max-height: 4em;
            }
        }

        .group {
            margin: 0;
            max-height: 30em;
            overflow-y: auto;
            padding: 1rem;

            &::-webkit-scrollbar {
                -webkit-appearance: none;
            }

            &::-webkit-scrollbar:vertical {
                width: 0.7em;
            }

            &::-webkit-scrollbar-thumb {
                background-color: darken(#ebecf0, 15);
                border-right: 5px #ebecf0 solid;
            }

            .card-ghost {
                transition: transform 0.18s ease;
                transform: rotateZ(5deg)
            }

            .card-ghost-drop {
                transition: transform 0.18s ease-in-out;
                transform: rotateZ(0deg)
            }


        }
    }