@import '../../setting.scss';



    .list-group-item {
        padding: 0.4em;
        
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: $box-shadow;
        cursor:pointer;
    }
